<% if @articles %>
  <% @articles.each do |article| %>
    <h3><%= link_to article.title, article %></h3>
      by <%= link_to article.author, user_path(article.author) %>
  <% end %>
<% else %>
  <P> Could not find any articles to match your search :(</p>
<% end %>

