<div class="users-index">
  <% if admin %>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.username, user_path(user)  %>
    </li>
  <% end %>
</ul>
<% else %>
  <%= link_to "Back to Home", categories_path %>
  <p>You are not authorized to see this page!!</p>
<% end %>
</div>
