#content {
  border: 1px solid #CDD8D2;
  padding: 15px;
  text-align: justify;
  background-color: #dff0d8;
}

#content-header {
  background-color: #90D2B1;
  padding: 0.2em 0.2em 0.2em 0;
  font-size: 120%;
  font-weight: bold;
  border: 1px solid #9DBBAC;
}

#content-title {
  padding: 0.5em 0 0.5em 0;
  font-size: 115%;
}

#content-title a {
  color: #5774CE;
}
