<div id="container">

	<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
	<% end %>

	</div>
	<% if @featured_article %>
		<div class="row success" id="content">
			<div id="content-header">
				Featured Article
			</div>
			<div id="content-title">
				<%= link_to @featured_article.title, article_path(@featured_article) %>
			</div>

			<div >
				<% if @featured_article.versions %>
					<%= @featured_article.current_version_content %>
				<% end %>
			</div>
		</div>
	<% end %>

</div>

