<div id="container">

	<% if @featured_article %>
		<div class="row">
			Featured Article:
		</div>

		<div class="row">
			<%= link_to @featured_article.title, article_path(@featured_article) %>
		</div>

		<div class="row">
			<% if @featured_article.versions %>
				<%= @featured_article.current_version_content %>
			<% end %>
		</div>
	<% end %>

</div>
