<div id="container">

	<div class="col-md-10 pull-right">Welcome to WikiJaMS !!!
		<% if flash[:notice] %>
  		<div class="notice"><%= flash[:notice] %></div>
		<% end %>

	<ul>
	  <% @categories.each do |category| %>
	    <li>
	      <%= link_to category.title, category_path(category)  %>
	    </li>
	  <% end %>
	</ul>

	</div>
</div>

