<div id="container">

	<div class="row">
		Featured Article:
	</div>

	<div class="row">
		<% if @featured_article %>
			<%= link_to @featured_article.title, article_path(@featured_article) %>
		<% end %>
	</div>
	<div class="row">
		<% if @featured_article.versions %>
			<%= @featured_article.current_version_content %>
		<% end %>
	</div>

</div>
