
<% if logged_in? %>
  <%= link_to 'Create Article', new_category_article_path(@category) %><br>
<% end %>

<% if @category.has_articles %>
  <ul>
    <% @category.articles.each do |article| %>
      <% if article.status == 'published' %>
        <li><%= link_to article.title, article_path(article) %></li>
      <% elsif article.status == 'unpublished' && (admin || author(article)) %>
        <li><%= link_to article.title, article_path(article) %> (Unpublished) </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No Articles created under <%= @category.title%> yet!</p>
<% end %>
